<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">


<suite name="Appium Android Automation Suite" verbose="1">
    <test name="ApiDemos Smoke Tests">
        <classes>
            <class name="com.portfolio.appium.tests.ApiDemosSmokeTest"/>
            <class name="com.portfolio.appium.tests.NavigationTest"/>
        </classes>
    </test>
</suite>